 /* .navbar {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 100%; 
    position: fixed; 
    overflow: auto; 
  }  */
  .navItem{
    font-size: 2em;
    color: rgb(55, 55, 55);
}
.navDrop{
  color: rgb(55, 55, 55);
}
  .navBar {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .navLogo {
    text-align: center;
  }
  .logoImage{
    width: 200px;
    height: 200px;
  }
